/.phpunit.cache
/node_modules
/public/build
/public/admin
/public/site
/resources/js/dist
.DS_Store
/public/css
/public/js

/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/js/filament
/public/css/filament
public/js/filament
public/css/filament
public/js
public/css
/storage/logs/laravel.log
/storage/logs/*.log

/caddy
frankenphp
frankenphp-worker.php

git-hooks/post-receive-virtualmin.sh
customer-
id
seller
service-
